<!-- app/views/reviews/new.html.erb -->
<!-- <div>class="container"
  <div>class="row"
    <div>class=col-6 offset-3" -->
      <h1><%= @restaurant.name %></h1>
      <p>Your review</p>

      <%= simple_form_for [ @restaurant, @review ] do |f| %>
        <%= f.input :rating, collection: 0..5 %>
        <%= f.input :content %>
        <%= f.submit "Submit review", class: "btn btn-primary" %>
      <% end %>
  <!--   </div>
  </div>
</div>
 -->
